

PlayersRemaining 
{
	font-family: Poppins;
	font-size: 25px;
	font-weight: bold;
	color: white;
	position: absolute;
	right: 100px;
	top: 48px;
	padding: 5 15px;
	background-color: rgba( black, 0.7 );
	border-width: 10px;
	border-color: rgba(black, 0.75);
	border-radius: 10px;
}

Health 
{
	position: absolute;
	background-color: rgba( black, 0.5 );
	right: 100px;
	bottom: 48px;
	font-size: 40px;
	font-weight: bold;
	color: white;
	height: 80px;
	padding: 0 20px;
	align-items: center;
	border-radius: 10px;
	border-width: 10px;
	border-color: rgba(black, 0.6);
}
